/* DashboardComponent's private CSS styles */

h2 {
    text-align: center;
  }
  
  .cars-menu {
    padding: 0;
    margin: auto;
    max-width: 1000px;
  
    /* flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
  }

  a {
    align-items: center;
    margin-top: 10px;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 460px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  a:focus {
    color: #171e29;
  }
  
  a:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  a:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  @media (min-width: 768px) {
    nav a {
      min-width: 170px;
    }
  }